
@{
    ViewBag.Title = "Luật chơi";
    Layout = "~/Views/Shared/App/_TemplateLayout.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="marg-left-70">
                <div class="col-md-12">
                    <ul class="list">
                        <li class="list-item list-item-separator">Lôtô</li>
                        <li class="list-item panel line-item-noBorder">
                            <div class="panel-table">
                                <div class="panel-table-item text-center">
                                    sadsadsadsadsadsadsadsadsadsa
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script>
        common.activateMenu("howtoplay");
    </script>
}

