@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@{
    var email = ViewBag.Email as string;
    if (string.IsNullOrEmpty(email))
    {
        Response.Redirect("~/Account/Login", true);
    }
}

@if (!string.IsNullOrEmpty(email))
{
    <p class="text-justify text-danger">
        Bạn sử dụng sai email và mã đăng nhập!
    </p>
}