@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@{
    var email = ViewBag.Email as string;
    if (string.IsNullOrEmpty(email))
    {
        Response.Redirect("~/Account/Login", true);
    }
}

@if (!string.IsNullOrEmpty(email))
{
<p class="text-justify" style="color: #0080B0">
    Chúng tôi đã gửi liên kết để đăng nhập vào <b>@email</b>. 
    Bấm vào nút bên trong email là xong. Kiểm tra cả hộp thư rác nếu bạn không tìm thấy email trong hộp thư chính.
</p>
}