
@{
    ViewBag.Title = "Kết quả xổ số";
    Layout = "~/Views/Shared/App/_DashboardLayout.cshtml";
}

@*@Scripts.Render("~/bundles/ketqua_css")*@


<section>
    <div id="divMainContainer" class="container">
        <div class="row">
            <div class="marg-left-70">
                <div class="col-md-12">
                    <div id="wrapper" style="padding-top: 5px; ">
                        <!-- Navigation -->
                        <!-- Page Content -->
                        <div id="page-wrapper">
                            <div class="container-fluid">
                                @Html.Raw(HttpUtility.HtmlDecode(ViewBag.Content))
                            </div>
                            <!-- /.container-fluid -->
                        </div>
                        <!-- /#page-wrapper -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

